{% extends 'base.html' %}

{% block title %}
    Добавить сниппет - PythonBin
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Добавить новый сниппет</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

