{% extends 'base.html' %}

{% block title %}
    Список сниппетов - PythonBin
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>На данной странице будут отображаться все созданные сниппеты.</p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Статус</th>
                        {% if user.is_authenticated %} <!-- Проверка авторизации -->
                        <th scope="col">Действия</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for snippet in snippets %}
                    <tr>
                        <td scope="row">{{ snippet.id }}</td>
                        <td><a href="{% url 'edit_snippet' snippet.id %}">{{ snippet.title }}</a></td>
                        <td>{{ snippet.created_at }}</td>
                        <td>
                            {% if snippet.is_public %}
                                Публичный
                            {% else %}
                                Частный
                            {% endif %}
                        </td>
                        {% if user.is_authenticated and snippet.user == user %} <!-- Проверка на владельца и авторизацию -->
                        <td>
                            <a href="{% url 'edit_snippet' snippet.id %}" class="btn btn-warning btn-sm">Редактировать</a>
                            <a href="{% url 'delete_snippet' snippet.id %}" class="btn btn-danger btn-sm">Удалить</a>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div align="right">
                    <i style="color: gray;">Всего сниппетов: {{ snippets|length }}</i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

