{% extends 'base.html' %}

{% block title %}
    Список сниппетов - PythonBin
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Список сниппетов</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название</th>
                        <th scope="col">Дата создания</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for snippet in snippets %}
                    <tr>
                        <td>{{ snippet.id }}</td>
                        <td><a href="{% url 'snippet_detail' id=snippet.id %}">{{ snippet.name }}</a></td>
                        <td>{{ snippet.created_at }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">Нет доступных сниппетов</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div align="right">
                    <i style="color: gray;">Всего сниппетов: {{ snippets.count }}</i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
