{% extends 'base.html' %}
{% load highlight %}

{% block title %}
    Список сниппетов - PythonBin
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>На данной странице будут отображаться все созданные сниппеты.</p>
                <p>Пока тут просто пример, но скоро заменим реальными сниппетами из БД!</p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название</th>
                        <th scope="col">Дата создания</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for snippet in snippets %}
                    <tr>
                        <td scope="row">{{ snippet.id }}</td>
                        <td><a href="{% url 'snippet_detail' snippet.id %}">{{ snippet.title }}</a></td>
                        <td>{{ snippet.created_at }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div align="right">
                    <i style="color: gray;">Всего сниппетов: {{ snippets.count }}</i>
                </div>
            </div>
        </div>

        
        {% if snippet %}
        <div class="row mt-4">
            <div class="col">
                <h3>{{ snippet.title }}</h3>
                <pre>
                    {{ snippet.code|syntax_highlight:snippet.language }}
                </pre>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}
